@{
    ViewBag.Title = "Find&Read";
}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="navbarText" class="navbar-brand text-info" >Prijavite se</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <div class="form-inline my-2 my-lg-0">
            <input id="korIme" class="form-control mr-sm-2" type="text" placeholder="korisničko ime">
            <input id="lozinka" class="form-control mr-sm-2" type="password" placeholder="lozinka">
            <button id="prijava" class="btn btn-outline-info">Prijava</button>
            <a id="porukaStatusa" class="navbar-brand text-danger" style="padding-left:10px"></a>
        </div>
    </div>
</nav>
<br><br>
<div class="jumbotron">
    <h1 align="center" class="text-info">Find&Read</h1>
    <p class="lead" align="center">Najbolje stranica za ljubitelje knjiga kojima je jednostavno potrebna pomoć pri odabiru sljedeće pisane pustolovine</p>
    <p class="p-0" align="center">Odaberite jedan od kriterija i pronađite knjigu za sebe!</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2 class="text-danger">Preporuka prema ocjenama</h2>
        <p>
            Preporučene knjige prema prosječnoj ocijeni jednakoj ili većoj od odabranog kriterija!
        </p>
        <div class="form-group">
            <select id="ocjenaSelect" class="custom-select">
                <option value="0" selected="">Odaberite ocjenu</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-warning">Preporuka prema razdoblju</h2>
        <p>Preporuka najčitanijih knjiga u odabranom vremenkom razdoblju</p>
        <div class="form-group">
            <select id="timeSelect" class="custom-select">
                <option value="0" selected="">Odaberite razdoblje</option>
                <option value="tjedan">Ovaj tjedan</option>
                <option value="mjesec">Ovaj mjesec</option>
                <option value="godina">Ovu godinu</option>
                <option value="sve">Od početka svijeta :D</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-success">Preporuka prema omiljenom autoru</h2>
        <p>Knjige vašeg omiljenog autora sortirane prema prosječnoj ocijeni</p>
        <div class="form-group">
            <select id="authorSelect" class="custom-select">
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <h2 class="text-info">Automatska preporuka</h2>
        <p>Automatska preporuka knjiga temeljem vaših pročitanih knjiga!</p>
        <button id="gumbAuto"  type="button" class="btn btn-outline-info" align="center">Preporuči knjige!</button>
    </div>
</div>
<br>
<div id="tablicaContainer" class="jumbotron">
    <h1 id="naslovPrikaza" align="center" class="text-warning">Preporučene knjige</h1>
    <p id="tekstPrikaza" class="lead" align="center">na temelju unesenog kriterija u tablici su dane preporučene knjige</p>
    <br>
    <h1 id="tekstPreporuke" align="center" class="text-success"></h1>
    <table id="tablicaPreporuka" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Naslov</th>
                <th scope="col">Autor</th>
                <th scope="col">Prosječna ocjena</th>
                <th scope="col">Broj čitanja</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">


    $(document).ready(function () {

        // Pozivi funkcija
        checkLoginStatus();
        tableSetupNoData();
        getAuthors();

        // Definicija boja za automatksu promjenu
        var rowColors = ["table-success", "table-warning", "table-danger", "table-info"];

        // Setup tablice kada se ne traži preporuka
        function tableSetupNoData() {

            $("#tablicaPreporuka tbody").empty();
            $("#tablicaPreporuka").hide();
            $("#naslovPrikaza").hide();
            $("#tekstPrikaza").hide();
            $("#tekstPreporuke").show();
            $("#tekstPreporuke").text('');
            $("#tekstPreporuke").append("Odaberite jedan od ponuđenih kriterija!");


        }

        // Setup tablice kada se traži preporuka
        function tableSetupData() {

            $("#naslovPrikaza").show();
            $("#tekstPrikaza").show();
            $("#tablicaPreporuka").show();
            $("#tekstPreporuke").hide();


        }

        // Provjera logiranog korisnika
        function checkLoginStatus() {

            $.get("/Home/LoginStatus", null, function (data) {
                result = $.parseJSON(data);

                if (result != "ne") {

                    $("#gumbAuto").prop('disabled', false);
                    $("#gumbAuto").removeAttr('title');
                    $("#korIme").hide();
                    $("#lozinka").hide();
                    $("#prijava").text("Odjava");
                    $("#navbarText").text("Odjavite se");
                    $("#porukaStatusa").text('');
                    $("#porukaStatusa").append("Pozdrav " + result+" !");

                }
                else {
                    $("#gumbAuto").prop('disabled', true);
                    $("#gumbAuto").prop('title', "Prijavite se!");
                }
                   

                });

        }

        // Dohvat autora za izbornik
        function getAuthors() {

            var autori = [];
           

            $.get("/Home/GetAuthors", null, function (data) {
                result = $.parseJSON(data);
                $.each(result, function (index, value) {
                    console.log(result[index].ime);
                    autori.push(result[index].ime);
                   
                    $('#authorSelect').append("<option value='" + result[index].ime + "'>" + result[index].ime + "</option>");

                });
            });

          
        }

        // metoda odabira ratinga
        $("#ocjenaSelect").on('change', function (e) {

            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;

            tableSetupData();

            if (valueSelected != "0") {

                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#tablicaContainer").offset().top
                }, 1000);

                $("#tablicaPreporuka tbody").empty();

                $.get("/Home/getBooksByRating", { rating: valueSelected }, function (data) {
                    result = $.parseJSON(data);
                    $.each(result, function (index, value) {
                        console.log(result[index]);
                        var color = rowColors[Math.floor(Math.random() * rowColors.length)];
                        $('#tablicaPreporuka > tbody:last-child').append('<tr><td class="' + color + '">' + result[index].knjiga.naslov +
                            '</td><td class="' + color + '">' + result[index].autor.ime + '</td><td class="' + color + '">' + result[index].prosjecnaOcjena + '</td><td class="' + color + '">' + result[index].brojCitanja +
                            '</td></tr>');

                    });
                });
            }

        });

        // metoda odabira autora
        $("#authorSelect").on('change', function (e) {

            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;

            tableSetupData();

            if (valueSelected != "0") {

                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#tablicaContainer").offset().top
                }, 1000);

                $("#tablicaPreporuka tbody").empty();

                $.get("/Home/GetAuthorsBooks", { autor: valueSelected }, function (data) {
                    result = $.parseJSON(data);
                    $.each(result, function (index, value) {
                        console.log(result[index]);
                        var color = rowColors[Math.floor(Math.random() * rowColors.length)];
                        $('#tablicaPreporuka > tbody:last-child').append('<tr><td class="' + color + '">' + result[index].knjiga.naslov +
                            '</td><td class="' + color + '">' + result[index].autor.ime + '</td><td class="' + color + '">' + result[index].prosjecnaOcjena + '</td><td class="' + color + '">' + result[index].brojCitanja +
                            '</td></tr>');

                    });
                });
            }

        });

        // metoda odabira intervala
        $("#timeSelect").on('change', function (e) {

            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;

            tableSetupData();

            if (valueSelected != "0") {

                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#tablicaContainer").offset().top
                }, 1000);

                $("#tablicaPreporuka tbody").empty();

                $.get("/Home/getBooksByTime", { timeInterval: valueSelected }, function (data) {
                    result = $.parseJSON(data);
                    $.each(result, function (index, value) {
                        console.log(result[index]);
                        var color = rowColors[Math.floor(Math.random() * rowColors.length)];
                        $('#tablicaPreporuka > tbody:last-child').append('<tr><td class="' + color + '">' + result[index].knjiga.naslov +
                            '</td><td class="' + color + '">' + result[index].autor.ime + '</td><td class="' + color + '">' + result[index].prosjecnaOcjena + '</td><td class="' + color + '">' + result[index].brojCitanja +
                            '</td></tr>');

                    });
                });
            }

        });

        // prijava i odjava
        $("#prijava").click(function () {

            var akcija = $("#prijava").text();

            if (akcija == "Prijava") {

                var korIme = $("#korIme").val();
                var lozinka = $("#lozinka").val();

                //alert(korIme + " " + lozinka);

                $.get("/Home/prijava", { korIme: korIme, lozinka: lozinka }, function (data) {

                    if (data != "null") {

                        result = $.parseJSON(data);

                        console.log(data);

                        tableSetupNoData();

                        $("#gumbAuto").prop('disabled', false);
                        $("#gumbAuto").removeAttr('title');
                        $("#korIme").hide();
                        $("#lozinka").hide();
                        $("#prijava").text("Odjava");
                        $("#navbarText").text("Odjavite se");
                        result = $.parseJSON(data);

                        $("#porukaStatusa").text('');
                        $("#porukaStatusa").append("Pozdrav " + result.korisnicko_ime+" !");
                    }

                    else {

                        $("#porukaStatusa").text('');
                        $("#porukaStatusa").append("Pogrešni korisnički podaci.");
                    }

                });

            }

            else {

                $.post("/Home/odjava", null, function () {

                    tableSetupNoData();

                    $("#gumbAuto").prop('disabled', true);
                    $("#gumbAuto").prop('title', "Prijavite se!"); 
                        $("#korIme").show();
                        $("#lozinka").show();
                        $("#prijava").text("Prijava");
                        $("#navbarText").text("Prijavite se");
                        
                    $("#porukaStatusa").text('');

                });

            }

            $("#korIme").val('');
            $("#lozinka").val('');

            //alert("dsfvdsf");

          
        });

        // automatska preporuka
        $("#gumbAuto").click(function () {

            $([document.documentElement, document.body]).animate({
                scrollTop: $("#tablicaContainer").offset().top
            }, 1000);

            tableSetupData();

            $("#tablicaPreporuka tbody").empty();

            $.get("/Home/GetAuto", null,function (data) {
                result = $.parseJSON(data);
                $.each(result, function (index, value) {
                    console.log(result[index]);
                    var color = rowColors[Math.floor(Math.random() * rowColors.length)];
                    $('#tablicaPreporuka > tbody:last-child').append('<tr><td class="' + color + '">' + result[index].knjiga.naslov +
                        '</td><td class="' + color + '">' + result[index].autor.ime + '</td><td class="' + color + '">' + result[index].prosjecnaOcjena + '</td><td class="' + color + '">' + result[index].brojCitanja +
                        '</td></tr>');

                });
            });

        });

 
        });
        
</script>

