@{
    ViewBag.Title = "Find&Read";
}

<div class="jumbotron">
    <h1 align="center">Find&Read</h1>
    <p class="lead" align="center">Najbolje stranica za ljubitelje knjiga kojima je jednostavno potrebna pomoć pri odabiru sljedeće pisane pustolovine! </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Preporuka prema ocjenama</h2>
        <p>
            Preporučene knjige prema prosječnoj ocijeni jednakoj ili većoj od odabranog kriterija!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Preporuka prema razdoblju</h2>
        <p>Preporuka najčitanijih knjiga u odabranom vremenkom razdoblju</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Preporuka prema autoru</h2>
        <p>Knjige vašeg omiljenog autora sortirane prema prosječnoj ocijeni</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Preporuka temeljem pročitanih knjiga</h2>
        <p>Automatska preporuka knjiga temeljem vaših pročitanih knjiga!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>