@{
    ViewBag.Title = "Find&Read";
}




<div class="jumbotron">
    <h1 align="center" class="text-info">Find&Read</h1>
    <p class="lead" align="center">Najbolje stranica za ljubitelje knjiga kojima je jednostavno potrebna pomoć pri odabiru sljedeće pisane pustolovine</p>
    <p class="p-0" align="center">Odaberite jedan od kriterija i pronađite knjigu za sebe!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-danger">Preporuka prema ocjenama</h2>
        <p>
            Preporučene knjige prema prosječnoj ocijeni jednakoj ili većoj od odabranog kriterija!
        </p>
        <div class="form-group">
            <select class="custom-select">
                <option selected="">Odaberite ocjenu</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="text-warning">Preporuka prema razdoblju</h2>
        <p>Preporuka najčitanijih knjiga u odabranom vremenkom razdoblju</p>
        <div class="form-group">
            
            <select class="custom-select">
                <option selected="">Odaberite razdoblje</option>
                <option value="tjedan">Ovaj tjedan</option>
                <option value="mjesec">Ovaj mjesec</option>
                <option value="godina">Ovu godinu</option>
                <option value="sve">Od početka svijeta :D</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="text-success">Preporuka prema autoru</h2>
        <p>Knjige vašeg omiljenog autora sortirane prema prosječnoj ocijeni</p>
        <div class="form-group">
            <label class="col-form-label, text-success" for="inputDefault">Počnite upisivati ime ili prezime autora</label>
            <input id="autoriAutocomplete" type="text" class="form-control" placeholder="Autor..." id="inputDefault">
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="text-info">Preporuka temeljem pročitanih knjiga</h2>
        <p>Automatska preporuka knjiga temeljem vaših pročitanih knjiga!</p>
        <button id="gumb" type="button" class="btn btn-outline-info" align="center">Preporuči knjige!</button>
    </div>
</div>
<br>
<div id="tablicaContainer" class="jumbotron">
    <h1 align="center" class="text-warning">Preporučene knjige</h1>
    <p class="lead" align="center">na temelju unesenog kriterija u tablici su dane preporučene knjige</p>

    <table id="tablicaPreporuka" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Naslov</th>
                <th scope="col">Autor</th>
                <th scope="col">Prosječna ocjena</th>
                <th scope="col">Broj čitanja</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-danger">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-warning">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr class="table-info">
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
        </tbody>
    </table>
</div>

<script type="text/javascript">


    $(document).ready(function () {

        //getAuthors();

        function getAuthors() {

            var autori = [];

            $.get("/Home/GetAuthors", null, function (data) {
                result = $.parseJSON(data);
                $.each(result, function (index, value) {
                    console.log(result[index].ime);
                    autori.push(result[index].ime);
                });
            });
        }

    

        $.get("/Home/getBooksByRating", null, function (data) {
            result = $.parseJSON(data);
            $.each(result, function (index, value) {
                console.log(result[index]);

            });
        });


        $("#gumb").click(function () {
            $.get("/Home/Save", null, function (data) {
                //alert(data);
                result = $.parseJSON(data);
                //console.log(result[0].name);
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#tablicaContainer").offset().top
                }, 1000);
                $("#tablicaPreporuka tbody").empty();
                $.each(result, function (index,value) {
                    console.log(result[index].name);
                    $('#tablicaPreporuka').focus();
                    $('#tablicaPreporuka > tbody:last-child').append('<tr><td>'+result[index].name+'</td></tr>');

                    });
                });
            });  
        });

    //});
</script>

